.liveliness-container {
    height: 95%;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    text-align: center;
    padding: 1% !important;
}

.liveliness-grid {
    // You need to do it to avoid overflow from the stupid grid
    height: calc(100vh - 1px);
    display: contents;
}