<app-popup-title [iconName]="'people_outline'" [title]="'טופלוגיית WAN מלאה'"></app-popup-title>

<div>
    <mat-form-field>
        <mat-icon matPrefix class="search-icon">search</mat-icon>
        <mat-label>חיפוש</mat-label>
        <input matInput type="text" [(ngModel)]="filterText">
        <button mat-button *ngIf="filterText" matSuffix mat-icon-button aria-label="נקה" (click)="filterText=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>

<div class="topology-container">
    <app-wan-members-view [members]="wanService.topology$ | async | topologyNameFilter:filterText">
    </app-wan-members-view>
</div>