.form {
    margin-top: 15px;
}

.members {
    max-height: 12em;
    overflow: auto;
    margin-top: 13px;
}

.member-icon {
    margin-left: 10px;
    vertical-align: middle;
}

.member-text {
    vertical-align: top;
}

.save-button {
    float: left;
}