.main-card {
    padding: 0 !important;
    padding-top: 4% !important;
    padding-right: 6% !important;
    height: 93%;
    width: 95%;
    margin-bottom: 5%;
    margin-right: 4%;
    margin-top: 5%;
}

.single-title-card {
    margin-top: 4px !important;
    font-size: 20px !important;
}

.content {
    overflow: auto;
    min-height: calc(100% - 64px);
    height: calc(100% - 64px);
    text-align: center;
    padding-top: 5%;
    display: grid;
    margin-right: -10% !important;
}

.channel {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    margin: auto;
}

.available {
    background-color: rgb(44, 241, 44);
    color: black;
}

.strict {
    background-color: rgb(255, 166, 0);
    color: black;
}

.failure {
    background-color: red;
    color: black;
}