<mat-card class="main-card">
    <mat-card-header class="header">
        <mat-card-title class="single-title-card">ערוצי בא"ג</mat-card-title>
        <app-wl-icon mat-card-avatar class="wl-logo"></app-wl-icon>
    </mat-card-header>
    <mat-card-content class="content">
        <div *ngFor="let channel of wlService.channels$ | async ; trackBy:trackByFunc" class="channel-container">
            <div class="channel" [class.available]="channel.status==0" [class.strict]="channel.status==1" [class.failure]="channel.status==2">
                {{channel.name}}
            </div>
        </div>
    </mat-card-content>
</mat-card>