<mat-card class="text-align-center main-card">
    <mat-card-title>כוכב הסוף</mat-card-title>
    <app-ship-svg mat-card-image></app-ship-svg>
    <mat-card-content>
        <table class="table-design">
            <tr>
                <td>
                    זמן:
                </td>
                <td>
                    {{timeService.getDateString()}}
                </td>
            </tr>
            <tr *ngIf="(stateService.version$ | async) != null">
                <td>גרסה:</td>
                <td>{{(stateService.version$ | async)?.version}}</td>
            </tr>
            <tr *ngIf="(platformService.currentPlatform$ | async) != null">
                <td>פלטפורמה:</td>
                <td>{{(platformService.currentPlatform$ | async)?.name}}</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>