.main-card {
    padding: 0 !important;
    padding-top: 6% !important;
    height: 95%;
    width: 95%;
    margin-top: 5%;
    margin-right: 2%;
}

::ng-deep mat-card-title {
    color: #00aeff;
    font-size: 32px !important;
}

.table-design {
    text-align: right;
    display: inline-block;
}