.no-channels {
    text-align: center;
    margin-top: 3%;
    font-size: 1.5em;
}

.tagam-table {
    overflow: auto;
    min-height: calc(100% - 64px);
    height: calc(100% - 64px);
}

th.mat-header-cell {
    text-align: center !important;
}

.table-design {
    // Avoid the stupid padding right of the table column
    margin-right: -12px !important;
}

::ng-deep .mat-tooltip {
    margin-top: 0px !important;
}

.channels-column {
    max-width: 150px;
    width: 30%;
}