.topology-container {
    max-height: 49vh;
    overflow: auto;
}

.connected {
    color: white;
}

.disconnected {
    color: #939393;
    font-weight: bold !important;
}

.last-seen {
    font-size: 0.9em !important;
}

::ng-deep .mat-list .mat-list-item .mat-line {
    word-wrap: break-word;
    white-space: pre-wrap;
}