.topology-container {
    height: 100%;
    overflow: auto;
}

.connected {
    color: rgb(44, 241, 44);
}

.disconnected {
    color: red;
}

.last-seen {
    font-size: 0.8em !important;
}

::ng-deep .mat-list .mat-list-item .mat-line {
    word-wrap: break-word;
    white-space: pre-wrap;
}