.title {
    color: #00aeff;
    font-size: 24px;
    text-align: center;
}

.topology-icon {
    margin-left: 15px;
    vertical-align: bottom;
}

.title-text {
    vertical-align: text-top;
}

.topology-container {
    height: 100%;
    overflow: auto;
}