<div class="channel-container">
    <div *ngFor="let ch of channels ; trackBy:trackByFunc" class="channel channel-hover" [class.available]="ch.status==0" [class.strict]="ch.status==1" [class.failure]="state==3" matTooltip="עריכת / מחיקת ערוץ לוגי" (click)="editLogicalChannel(ch)">
        {{ch.name}}
    </div>

    <div class="management-icon-container" (click)="create()" *ngIf="showManagement" matTooltip="הוסף ערוץ לוגי">
        <mat-icon class="management-icon">add_circle</mat-icon>
    </div>
</div>