.channel {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    margin-left: 8px;
    margin-bottom: 4px;
    display: inline-block;
    cursor: pointer;
}

.available {
    background-color: rgb(44, 241, 44);
    color: black;
}

.strict {
    background-color: rgb(255, 166, 0);
    color: black;
}

.failure {
    background-color: red;
    color: black;
}

.management-icon {
    vertical-align: bottom;
    cursor: pointer;
    font-size: 30px !important;
    width: 30px;
    height: 26px;
    line-height: 26px;
}

.channel-hover:hover {
    background-color: rgba($color: #888888, $alpha: 0.5);
    color: white;
}

.management-icon-container {
    width: 30px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    margin-left: 8px;
    display: inline-block;
    vertical-align: middle;
}

.channel-container {
    margin-top: 5px;
}