.no-channels {
    text-align: center;
    margin-top: 3%;
    font-size: 1.5em;
}

.more-info {
    cursor: pointer;
}

th.mat-header-cell {
    text-align: center !important;
}

.channels-column {
    max-width: 120px;
    width: 22%;
}