<mat-grid-list cols="8" rows="4" rowHeight="fit" class="main-grid">
    <mat-grid-tile [colspan]="2" [rowspan]="2" style="background-color: blue;">
        סטטוס מערכת
    </mat-grid-tile>

    <mat-grid-tile [colspan]="4" [rowspan]="2" style="background-color: red;">
        תג"ר
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1" style="background-color: yellow;">
        חיות
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="3" style="background-color: gray;">
        WAN
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" style="background-color: purple;">
        ערוצי בא"ג
    </mat-grid-tile>
    <mat-grid-tile [colspan]="5" [rowspan]="2" style="background-color: green;">
        עצים מוזרים
    </mat-grid-tile>
</mat-grid-list>