<mat-grid-list cols="8" rows="4" rowHeight="fit" class="main-grid">
    <mat-grid-tile [colspan]="2" [rowspan]="2">
        <app-state class="full-size"></app-state>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="4" [rowspan]="2">
        <app-tagam class="full-size"></app-tagam>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <app-liveliness class="full-size"></app-liveliness>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="3">
        <app-wan class="full-size"></app-wan>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2">
        <app-wl class="full-size"></app-wl>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="5" [rowspan]="2">
        עצים מוזרים
    </mat-grid-tile>
</mat-grid-list>