.force-container {
    overflow: auto;
    min-height: calc(100% - 64px);
    max-height: 49vh;
}

.force {
    margin: 20px 0;
}

.force-icon {
    vertical-align: bottom;
    margin-left: 10px;
}

.force-name {
    vertical-align: text-bottom;
}

.more-info {
    float: left;
}

.more-info-button {
    // make the icon button to be vertical align top
    // it's an open bug in angular material
    margin-top: -8px;
}