.force-container {
    overflow: auto;
    min-height: calc(100% - 64px);
    height: calc(100% - 64px);
}

.force {
    margin: 20px;
}

.force-icon {
    vertical-align: bottom;
    margin-left: 10px;
}

.force-name {
    vertical-align: text-bottom;
}

.more-info {
    float: left;
}

.more-info-icon {
    vertical-align: top !important;
}