.main-card {
    padding: 0 !important;
    padding-top: 1% !important;
    height: 95%;
    width: 94%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2.5%;
    display: flex;
    flex-direction: column;
}

.title {
    padding-right: 4% !important;
}

.tagam-content {
    overflow: auto;
}

.more-info {
    float: left;
    margin-left: -15px !important;
}

.settings {
    margin-top: 16px;
    margin-bottom: -16px;
    color: rgb(214, 214, 214);
}

.tagam-title {
    margin-top: 20px !important;
}

.disabled {
    color: red;
}