<mat-card class="main-card">
    <mat-card-header class="title">
        <mat-card-title class="single-title-card inline-block tagam-title" [class.disabled]="!(tagamService.isActive$ | async)">
            תרג"מ
        </mat-card-title>
        <app-tagam-icon mat-card-avatar [color]="getIconColor()"></app-tagam-icon>
        <mat-card-title class="more-info inline-block">
            <button mat-button class="settings" [matMenuTriggerFor]="menu">
                <mat-icon>settings</mat-icon>
            </button>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="tagam-content">
        <app-tagam-content class="full-size"></app-tagam-content>
    </mat-card-content>
</mat-card>

<mat-menu #menu="matMenu">
    <ng-template matMenuContent let-data="data">
        <button mat-menu-item (click)="changeTagamStatus()">
            <mat-icon>{{getOnOffMenuIcon()}}</mat-icon>
            <span>{{getOnOffMenuTitle()}}</span>
        </button>
    </ng-template>
</mat-menu>