.main-card {
    padding: 0 !important;
    padding-top: 1% !important;
    height: 95%;
    width: 94%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2.5%;
}

.title {
    padding-right: 4% !important;
}